@import url(https://fonts.googleapis.com/css?family=Lora|Raleway);


$primarycolor: #181818;
$secondarycolor:#382110;
$labelcolor: $primarycolor;
$fillbg: #F3F3E7;
$box-bgcolor:rgba(20,53,80,0.038);
$box-bordercolor:rgba(20,53,80,0.05);
$font-body: 'Lora', serif;
$font-headers:'Raleway', sans-serif;


body {
    font-family:$font-body;
    font-size:16px;
}

a, a:link, a:hover  {
    color:$secondarycolor; font-weight:bold;
}

h1 {color: $primarycolor; font-family:  $font-headers;}
h2 {color: $secondarycolor; font-family: $font-headers;}

span.title {margin-right:10px; font-weight:bold; color:$labelcolor}

.bookImage {float:left; margin:0 10px 0 0;}
.viewbook {margin:10px 0 0 0;}
.subtitle {border-bottom:1px solid #E2DBD5; padding-bottom:5px}
.maintitle {font-size:3em; color: $secondarycolor;font-weight:bold;}

#chart  {}
#bookInfo { background-color: $fillbg; padding: 20px; border-radius:10px }
#bookInfo h2 {margin:0; padding:0; margin-bottom:10px; color:#382110;}



.box {
    margin: 4.5em auto;
    padding: 3em;
    background-color: $box-bgcolor;
    border: 1px solid $box-bordercolor;
}

#fullsite {
    margin:10px;
}